@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Julius+Sans+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Julius+Sans+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Irish+Grover&family=Julius+Sans+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Original+Surfer&display=swap');

:root{
    --primarna-pozadie: #EDD89D;
    --primarna-header-footer-sekcie: #A0724D;
    --primarna-border-nav: #D89D51;
    --text-podnadpisy: #453223;

    --elementy-sekcie: #A7A775;
    --sekundarna-nadpisy: #636F3C;
    --sekundarna-meno: #6A5435;
    
    --nadpisy-projektov: #FFF5D8;
    --imput-bordery: #DEF0C1;
}


body{
    background-color: var(--primarna-pozadie);
}

footer{
    font-family: Cherry Swash;
    background-color: var(--primarna-header-footer-sekcie);
    color: var(--nadpisy-projektov);
}

header{
    background-color: var(--primarna-header-footer-sekcie);

}
.header-domov{
    font-family: Irish Grover;
    color: var(--text-podnadpisy);
    background-color: var(--primarna-border-nav);
}
.header-kontakt{
    font-family: Irish Grover;
    color: var(--text-podnadpisy);
    background-color: var(--primarna-border-nav);
}
.header-omne{
    font-family: Irish Grover;
    color: var(--text-podnadpisy);
    background-color: var(--primarna-border-nav);
}
.header-portfolio{
    font-family: Irish Grover;
    color: var(--text-podnadpisy);
    background-color: var(--primarna-border-nav);
}


/*-------------------------------------------------------------------------------------*/


/*toto je domovska stranka*/


.farba-mena{
    color: var(--sekundarna-meno);
    font-family: Original Surfer;
}
.farba-portfolio{
    color: var(--sekundarna-nadpisy);
    font-family: Irish Grover;
}



p{
    font-family: Cherry Swash;
    color: var(--text-podnadpisy);
}
h3{

    color: var(--text-podnadpisy);
    font-family: Original Surfer;
}
h2{
    color: var(--text-podnadpisy);
    font-family: Original Surfer;
}
h4{
    font-family: Cherry Swash;
}




.domov-popis{
    background-color: var(--imput-bordery);
    padding: 5px;
    border: var(--imput-bordery);
    border-radius: 10px;
}

.o-mne{
    background-color: var(--primarna-border-nav);
    border-radius: 6px;
    padding: 5px;
    border-color: var(--primarna-border-nav);
    border-bottom: var(--primarna-border-nav);
    border-right: var(--primarna-border-nav);
}

.viac-projektov{
    background-color: var(--imput-bordery);

}

.kontaktovat{
    background-color: var(--primarna-border-nav);
}

.border-nazov{
    background-color: var(--primarna-border-nav);

}
.border-popis{
    background-color: var(--primarna-border-nav);
}
.naj-projekty{
    background-color: var(--primarna-header-footer-sekcie);
}







a{
    text-decoration: none;
    font-family: Cherry Swash;
}








/*-------------------------------------------------------------------------------------*/


/*toto je o mne*/


.o-mne-p{
    background-color: var(--imput-bordery);
}

.meno-o-mne{
    font-family: Original Surfer;
}

.nadpis-o-mne{
    font-family: Irish Grover;
}












/*-------------------------------------------------------------------------------------*/


/*toto je portfolio*/


.projekty-portfolio{
    font-family: Irish Grover;
}
.portfolio-text{
    background-color: var(--imput-bordery);
}

.projekty-nazvy{
    background-color: var(--primarna-border-nav);
}

.projekty-popis{
    background-color: var(--primarna-border-nav);
}